
{{#partial "content"}}
    <div class="hero">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-slogan">
                    <h2>Star Wars</h2>
                    <p>I’m here to fight for truth, and justice, and <br> the American way</p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="hero-image">
                    <img src="/images/Superhero_Transparent_PNG_Clip_Art_Image.png" alt="">

                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}